.container {
  margin: 10px 50px;
  height: 100vh;

}

.details-container {
  margin: 10px auto;
  height: 100vh;
  max-width: 700px;
}

.user-search-result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.unstyled-link {
  text-decoration: none;
  color: black;
}

img {
  border-radius: 10px;
  object-fit: cover;
}
