.container {
  margin: 10px 50px;
  height: 100vh;

}

.user-search-result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.unstyled-link {
  text-decoration: none;
  color: black;
}
